/* Make carousel full width and height */
.hero-carousel {
    width: 99.6vw;
    height: 100vh;
    margin-left: calc(-50vw + 50%); /* breaks out of container */
    position: relative;
}

    /* All images fill carousel area */
    .hero-carousel img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    /* Dark overlay behind text */
    .hero-carousel::after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.35);
    }

/* Title overlay */
.carousel-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
}

    .carousel-title h1 {
        font-size: 5rem;
        font-weight: bold;
        color: #db4a2b;
        text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
    }

/* Indicators */
.carousel-indicators [data-bs-target] {
    background-color: #b08435;
    opacity: 0.4;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #db4a2b;
    opacity: 1;
}

/* Next / Prev arrows */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(42%) sepia(77%) saturate(1911%) hue-rotate(346deg) brightness(95%) contrast(95%);
}
